@model FamilyMedicine.Models.LoginModel

@{
    ViewBag.Title = "Log in";
} 

@{
    var cssForLabel = "col-lg-2 control-label";
 }

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <form class="form-horizontal">
            <fieldset>
                <legend>Legend</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = cssForLabel })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName", @id = "inputUserName" })
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = cssForLabel})
                    <div class="col-lg-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "inputPassword"} )
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
              
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
